@import '../../utils/sass/main.scss';

.about {
    padding: 0px 65px 0px 65px;
    &__container {
        @include flexbox(column, center, center);
        gap: 30px;
        margin-top: 30px;
        .collapse {
            button {
                width: 1023px;
                height: 54px;
            }
            &__text {
                width: 1023px;
            }
        }
    }
}