@import '../../utils/sass/main.scss';
.logement {
    padding: 0px 65px 0px 65px;
    &__infos {
        @include flexbox(unset, space-between, center);
        color: $primary-color;
        height: 170px;
    }
    &__text {
        @include flexColumn(column, center);
        h1 {
            margin: 0;
        }
        p {
            margin-top: 0;
        }
        span {
            width: 115px;
            height: 25px;
        }
    }
}

.host {
    @include flexColumn(column, center);
    &__name {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            width: 93px;
            text-align: right;
        }
    }
    &__img {
        border-radius: 50%;
        height: 64px;
        object-fit: cover;
        object-position: center;
        width: 64px;
    }
}

.collapse_container{
    display: flex;
    gap: 70px;
    margin-bottom: 50px;
}