@import '../../utils/sass/main.scss';
.home {
    padding: 0px 65px 0px 65px;
    &__gallery {
        width: 100%;
        border-radius: 25px;
        background-color: $background-color-lightgrey;
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 50px;
        padding: 50px;
    }
    @include respond-to(mobiles) {
        padding: 0px 20px 0px 20px;
        &__gallery {
            display: grid;
            row-gap: 27px;
            grid-template-columns: 1fr;
            padding: 0;
            background-color: $secondary-color;
        }
    }
}