@import '../../utils/sass/main.scss';
.footer {
    background-color: $tertiary-color;
    color: $secondary-color;
    height: 209px;
    width: 100%;
    @include flexbox(column, flex-end, center);
    margin-top: 50px;
    &__content {
        @include flexbox(column, center, center);
        gap: 28px;
    }
    &__img {
        width: 122px;
        height: 40px;
    }
    @include respond-to(mobiles) {
        margin-top: 27px;
        &__content {
            width: 50%;
            height: 209px;
            gap: 0px;
        }p {
            width: 100%;
            text-align: center;        
        }
    }
}        