@import '../../utils/sass/main.scss';
.error{
    @include flexContent(center);
    color: $primary-color;
    &__container {
        @include flexbox(column, center, center);
        gap: 139px;
        padding: 139px 0px 139px 0px;
        &__title {
            width: 597px;
            height: 263px;
        }
        h1 {
            font-size: 270px;
            font-style: normal;
            font-weight: 700;
            margin: 0;
        }
        a {
            color: $primary-color;  
        }
    }
    @include respond-to(mobiles) {
        &__container {
            gap: 113px;
            h1 {
                font-size: 96px;
            }
            p {
                width: 260px;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
            };
        } 
    }
}